@model SysTaimsal.EL.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a type="buttom" class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.IdProduct">Editar</a> |
    <a type="buttom" class="btn btn-primary" asp-action="Index">Volvel a la Lista</a>
</div>
