@model IEnumerable<SysTaimsal.EL.UserDev>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuario</h1>

<p style="padding-left:88%">
    <a type="button" class="btn btn-primary" asp-action="Create">Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastNameUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastNameUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol.NameRol)
                </td>
                <td>
                    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdUser">Editar</a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.IdUser">Detalles</a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUser">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
